* {
  margin: 0;
  padding: 0;
}
body {
  background: #eee;
  background-color: #EDEAE3;
  /* font-family: sans-serif; */
  font-family: Merriweather;
}
@font-face {
  font-family: "Nicolas De Valdivia Y Brizuela";
  src: url('../font/NicolasDeValdiviaYBrizuela-Regular.ttf') format('truetype');
  font-display: auto;
}
.header-logo {
  width: 1227px;
  height: 56px;
}
.pagelogo {
  display: inline-block;
  max-height: 56px;
  max-width: 225px;
  padding: 8px 4px 8px 12px;
  vertical-align: middle;
}
.header-text {
  display: inline-block;
  line-height: 1;
  max-width: 380px;
  outline: none;
  overflow: hidden;
  padding: 16px 12px;
  text-decoration: none;
  text-overflow: ellipsis;
  font-family: "PT Sans", sans-serif;
  font-size: 15pt;
  font-weight: 700;
  line-height: 1.333;
}
.header-bkg {
  background-size: cover;
  background-image: url('https://lh6.googleusercontent.com/fj3x6sPo3D_KBGwu5qk_UuwOJSDxpZrc8B-iFcCP5AZmjpbbeL7WFIiEeOz6DXMtw4In2lVw=w16383');
  /* transform: translate3d(0px, 0px, 0px);
  background-position: center center; */
}
#container {
  margin: 50px auto;
  margin-bottom: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 688px;
}
#write {
  margin: 0 0 5px;
  padding: 5px;
  width: 671px;
  height: 200px;
  font: "Nicolas De Valdivia Y Brizuela Regular";
  font-family: "Nicolas De Valdivia Y Brizuela";
  font-size: 18px;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}
.harlow {
  font-family: "Nicolas De Valdivia Y Brizuela";
}
#flex {
  border: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}
.aboutkeyboard {
  padding-top: 50px;
  padding-bottom: 5px;
  width: 688px;
  align-self: center;
  text-align: justify;
}
.aboutnotary {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 688px;
  align-self: center;
  text-align: justify;
}
#notary-signature {
  float: left;
  width: 170px;
  height: 100px;
  align-self: center;
  padding-right: 10px;
  padding-bottom: 5px;
}
#grantLang-div {
  align-self: center;
  text-align: center;
  width: 688px;
  font-size: 14px;
  font-family: sans-serif;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}
#img-div {
  align-self: center;
}
#img-id {
  width: 170px;
  height: 100px;
  align-self: center;
}
.imageColumn {
  float: left;
  padding: 10px;
}
#img-div2 {
  align-self: center;
  padding-bottom: 20px;
}
#img-id2 {
  width: 360px;
  height: 100px;
  align-self: center;
}
.imageColumn2 {
  float: center;
  padding: 10px;
  align-self: center;
}
button {
  float: left;
  margin: 0 5px 5px 0;
  width: 111px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  font-family: "Nicolas De Valdivia Y Brizuela";
  -webkit-border-radius: 5px;
}
button:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}
#keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  font-family: "Nicolas De Valdivia Y Brizuela";
  -webkit-border-radius: 5px;
  /* border-radius: 75%; */
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
.capslock, .tab, .left-shift {
  clear: left;
}
#keyboard .tab{
  width: 70px;
}
#keyboard .delete {
  width: 80px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .return {
  width: 77px;
}
#keyboard .left-shift {
  width: 95px;
}
#keyboard .right-shift {
  width: 109px;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  clear: left;
  width: 565px;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
  color: #555;
  background: #f5f5f5;
}
#keyboard .button-download {
  width: 111px;
  height: 42px;
  border: 1px solid #f9f9f9;
  -moz-border-radius: 5px;
  font-family: "Nicolas De Valdivia Y Brizuela";
  -webkit-border-radius: 5px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}
#keyboard .button-download:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
  color: #555;
  background: #f5f5f5;
}
